<li id="article-<%= article.id %>">
  <span class="user"><%= link_to article.user.name, article %></span>
  <span class="content"><%= article.title %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(article.created_at) %> ago.
  </span>
</li>
